{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('Tailwind') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('UsersPage') }}
{% endblock %}

{% block body %}
    <div id="pp-demo-root"></div>
{% endblock %}